body {
    background-color: cyan;
    font-family: 'Lobster';
}
.header {
    text-align: center;
    background-color: #A7F3D0;
    padding: 1rem; 
}

.header h1{
    font-size: 2rem;
}
#btn-translate{
    display: block;
    background-color: #6EE7B7;
    padding: 1rem 6rem;
    margin-left: 50rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    /* text-align: center; */  
}

#btn-translate:hover{
    background-color: black;
    color: white;
}

.container{
    max-width:500;
    margin-right: 3rem;
}

/* #output {
    border: 1px solid black;
    width: 10vh;
    height: 5vh;
    margin-left: 1rem; 
    margin-right: auto;
    padding:1rem;

} */

#Output{
    display: block;
    margin: auto;
    border-radius: 10rem;
}
.trans{
    margin-left: 35.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

textarea {
    width: 35%;
    height: 20vh;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

#txt-input{
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
}

.down {
    margin-left: 37rem;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.down{
    width: 35rem;
    /* text-align: center; */
    /* align-items: center; */
}

.down span{
    font-weight: 700;
    font-size: 1.4rem;
}